body {
    margin: 0;
    background-color: #170049;
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    min-height: 100vh;
}

.main-container {
    width: 90%; /* Ocupa quase toda a largura */
    max-width: 1200px; /* Limite para não espalhar demais em telas grandes */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    max-width: 800px; /* Mantém o tamanho que você definiu para o topo */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px; /* Espaço entre o input e as fotos */
}

/* Área das imagens: Aqui acontece a "mágica" da organização */
.galeria-container {
    width: 100%;
    display: flex;
    flex-direction: row; /* Imagens lado a lado */
    flex-wrap: wrap;    /* QUEBRA DE LINHA automática quando atinge o limite */
    justify-content: center; /* Centraliza as fotos na linha */
    gap: 25px;          /* Espaço entre as Polaroids */
    padding-bottom: 50px;
}

.polaroid {
    background-color: #fff;
    padding: 15px 15px 40px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    cursor: pointer; /* Indica que é clicável */
    transition: transform 0.3s;
}

.polaroid:hover {
    transform: scale(1.05);
}

.polaroid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.search-group {
    display: flex;
    width: 100%; /* Faz o conjunto ocupar os 800px inteiros */
    gap: 15px;
}

.search-group input {
    flex-grow: 1; /* Faz a barra ser a parte que estica */
    padding: 15px 20px; /* Aumenta a altura e o espaço interno do texto */
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px; /* Texto maior dentro da barra */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.search-group button {
    padding: 15px 35px; /* Botão mais largo e alto */
    background-color: #fff;
    color: #170049;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.search-group button:hover {
    background-color: rgb(236, 236, 42); /* Muda para o amarelo ao passar o mouse */
    transform: translateY(-2px); /* Leve efeito de subida */
}