.quadradoVerde{
    width: 750px;
    height: 750px;
    background-color: green;
}

.olho{
    width: 150px;
    height: 150px;
    background-color: black;
    display: flex;
}   

.linha{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
   
    
}
.linhaOlho{
    width: 100%;
    height: 20%;
    display: flex;
    
    justify-content: space-around;
    
}